/* ChatInterface.css */

.chatinterface-container {
  flex: 1;
  background-color: #000;
  color: white;
  display: flex;
  align-items: center;
  justify-content: center;
}

.chat-content {
  display: flex;
  flex-direction: column;
  align-items: center;
  gap: 20px;
}

.chat-heading {
  font-size: 2.5rem;
  font-weight: bold;
  text-align: center;
}

.input-wrapper {
  display: flex;
  width: 100%; /* Increased size */
  max-width: 600px;
  background-color: #262626;
  border-radius: 20px;
  overflow: hidden;
  align-items: center;
}

.chat-input {
  flex: 1;
  padding: 14px 16px;
  background: transparent;
  border: none;
  color: white;
  font-size: 18px;
}

.chat-input::placeholder {
  color: gray;
}

.chat-input:focus {
  outline: none;
}

.send-button {
  background: transparent;
  border: none;
  color: white;
  padding: 0 20px;
  font-size: 22px;
  cursor: pointer;
}
